body {
    background-color: #498edd;
}

nav{
    font-family: 'Cause', sans-serif;
    text-decoration: none;
    background-color: #498edd;
    color: #498edd;
}

p,a,.card-title,.card-text,.btn{
    font-family: 'Cause', sans-serif;
    text-decoration: none;
}

p{
    color: #000000;
}

a{
    text-decoration: none;
}

.container-fluid-mb-0 {
    background-image: linear-gradient(#a6b9ce,
    rgba(0,0,0,0.5)),url("../src/frite.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    border-radius: 50%;
}

.card img{
    height: 200px;
    object-fit: cover;
}

.card{
    transition: 0.3s;
    overflow: hidden;
    background-color: rgba(199, 200, 228, 0.9);
}

.card img{
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.card-title{
    font-weight: bold;
    text-align: center;
}

.card-text{
    text-align: center;
}

input.btn{
    width: 100%;
    border-radius: 30px;
}

form {
    background-color: rgb(56, 56, 74);
    transform: translateY(20px);
    border-radius: 20px;
}

/* ===== RESPONSIVE ===== */

@media screen and (max-width: 992px){

    .col-8{
        width: 75%;
    }
}

/* ===== TÉLÉPHONE ===== */

@media screen and (max-width: 768px){

    .col-3{
        width: 50%;
    }

    .card{
        transform: scale(0.95);
    }

    .card img{
        height: 100px;
    }

    .card-title{
        font-size: 16px;
    }

    .card-text{
        font-size: 15px;
    }

    .btn{
        font-size: 15px;
        padding: 5px;
    }
}
