body {
    background-color: #000000;
}

 #nav_bar{
    font-family: 'Cause', sans-serif;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color:  rgb(0, 0, 0);
}

p,a,.card-title,.card-text,.btn{
    font-family: 'Cause', sans-serif;
    text-decoration: none;
}
a, p{
    color: #ffffff;
}

a{
    text-decoration: none;
}

img {
    border-radius: 50%;
}
