body {
    background-color: #498edd;
}

nav{
    font-family: 'Cause', sans-serif;
    text-decoration: none;
    background-color: #498edd;
    color: #498edd;
}

p,a,.card-title,.card-text,.btn{
    font-family: 'Cause', sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none;
}

img {
    border-radius: 50%;
}
