body {
    background-color: #498edd;
}
ul,p {
    font-family: 'Cause', sans-serif;
    text-decoration: none;
    background-color: #498edd;
    color: #498edd;
}

a{
    text-decoration: none;
}

img {
    border-radius: 50%;
}
