body {
    background-color: #498edd;
}
nav {
    font-family: 'Cause', sans-serif;
    text-decoration: none;
    background-color: #498edd;
    color: #498edd;
}

a{
    text-decoration: none;
}

img. {
    border-radius: 50%;
}

img {
    border-image:none;
    border-color: rgb(255, 255, 255);
    width: 100%;
}

.container-fluid {
    background-image: linear-gradient(#a6b9ce,
    rgba(0,0,0,0.5)),url("../src/shawarma.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card img{
    height: 200px;
    object-fit: cover;
}