/* Police et style globaux */
* {
    font-family: 'Cause', sans-serif;
    text-decoration: none;
}

body {
    background-color: #000000;
}

 #nav_bar{
    font-family: 'Cause', sans-serif;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color:  rgb(0, 0, 0);
}

p,a,.btn{
    font-family: 'Cause', sans-serif;
    text-decoration: none;
}

a,p,label {
    color: #ffffff;
}

a{
    text-decoration: none;
}
