<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>JFB</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid header-border">
        <div class="row">
            <div class="col-4 justify-content-center d-flex align-items-center">
                <p class="m-0"><img class="imag-fluide rounded-6" src="../src/logo.png" alt="Logo" width="200" height="250"></p>
            </div>

            <div class="col-8 row justify-content-center d-flex align-items-center">
                <nav class="nav rounded-pill px-3 py-2" id="nav_bar">

                    <a class="nav-link text-white border border-light mx-2 rounded-pill" href="/">ACCUEIL</a>

                    <a class="nav-link text-white border border-light mx-2 rounded-pill" href="/commande">COMMANDE</a>

                    <a class="nav-link text-white border border-light mx-2 rounded-pill" href="/menu">MENU</a>

                    <a class="nav-link text-white border border-light mx-2 rounded-pill" href="/a_propos">A PROPOS</a>

                </nav>
            </div>
        </div>

        <div class="container-mb-6 row">

        </div>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>OPENING<br>Juice & Food Bar<br>Restaurant</h1>
                <p>Street</p>
                <p>Lorem ipsum dolor sit amet consectetur<br>vestibuet lorem odio luctus</p>
            </div>
            
            <div class="hero-images">
                <div class="img-box img1"><img src="../src/plat1.jpg" alt="Food"></div>
                <div class="img-box img2"><img src="../src/plat2.jpg" alt="Food"></div>
                <div class="img-box img3"><img src="../src/plat3.jpg" alt="Food"></div>
            </div>
        </section>
    </main>




    </div>
 
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>