<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>JFB</title>
    <link rel="stylesheet" href="../style/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid-mb-0 header-border">
        <div class="row">
            <div class="col-3 d-flex align-items-center">
                <p class="m-0"><img class="logo rounded-6" src="../src/logo.png" alt="Logo" width="150" height="200"></p>
            </div>

                    <!-- Navigation -->
            <div class="col-6 row justify-content-center d-flex align-items-center">
                <nav class="nav nav-pills nav-fill rounded-5" id="nav_bar" role="tablist" style="background-color: rgb(71, 141, 225);">
                    <p class="nav-item">
                        <a class="nav-link border border-dark me-4 text-dark rounded-5" href="/" role="tab" aria-selected="true">ACCUEIL</a>
                    </p>

                    <p class="nav-item">
                        <a class="nav-link border border-dark me-4 text-dark rounded-5" href="/commande" role="tab" aria-selected="false">COMMANDE</a>
                    </p>

                    <p class="nav-item">
                        <a class="nav-link border border-dark me-4 text-dark rounded-5" href="/menu" role="tab" aria-selected="false">MENU</a>
                    </p>

                    <p class="nav-item">
                        <a class="nav-link border border-dark me-4 text-dark rounded-5" href="/a_propos" role="tab" aria-selected="false">A PROPOS</a>
                    </p>
                </nav>
            </div>
        </div>

            <!-- Infos resto -->

        <div class="container-fluid ">
            <div class="text-secondary-emphasis text-center">

                <!-- <div class="row">
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <img class="imag-fluide rounded-6" src="../src/pizza.png" alt="Pizza" width="400" height="400">
                    </div>
                </div> -->

                <p> <br> <br> <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi nam voluptas? Ipsa, 
                    cumque? Ipsa optio sequi molestiae exercitationem architecto eaque debitis beatae ipsum officiis culpa? Nihil ipsa officia architecto?  
                <br> <br> <br></p>            
            </div>

            <!-- Carte des plats -->

        
            <div class="container">
                <div class="row g-4">

                    <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/banane.webp" class="card-img-top rounded-top-5" alt="banane">
                        <div class="card-body">
                            <h5 class="card-title">Banana</h5>
                            <p class="card-text">Some quick example text.</p>
                            <a href="#" class="btn btn-primary">Commander</a>
                        </div>

                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/burger.jpg" class="card-img-top rounded-top-5" alt="burger">
                            <div class="card-body">
                                <h5 class="card-title">Burger</h5>
                                <p class="card-text">Some .</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/chenielle.jpg" class="card-img-top rounded-top-5" alt="chenielle">
                            <div class="card-body">
                                <h5 class="card-title">Chenielle</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/cuisse_de_poulet.jpg" class="card-img-top rounded-top-5" alt="cuisse_de_poulet">
                            <div class="card-body">
                                <h5 class="card-title">Cuisse de Poulet</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>
 
                    <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/frite.jpg" class="card-img-top rounded-top-5" alt="frite">
                            <div class="card-body">
                                <h5 class="card-title">Frite</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div> <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/fumbwa.jpg" class="card-img-top rounded-top-5" alt="fumbwa">
                            <div class="card-body">
                                <h5 class="card-title">Fumbwa</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/harico.jpg" class="card-img-top rounded-top-5" alt="harico">
                            <div class="card-body">
                                <h5 class="card-title">Harico</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/kwanga.jpg" class="card-img-top rounded-top-5" alt="kwanga">
                            <div class="card-body">
                                <h5 class="card-title">Kwanga</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/ntamba.jpeg" class="card-img-top rounded-top-5" alt="ntamba">
                            <div class="card-body">
                                <h5 class="card-title">Ntamba</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/patte.jpg" class="card-img-top rounded-top-5" alt="patte">
                            <div class="card-body">
                                <h5 class="card-title">Patte</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/pizza.webp" class="card-img-top rounded-top-5" alt="pizza">
                            <div class="card-body">
                                <h5 class="card-title">Pizza</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/poisson.webp" class="card-img-top rounded-top-5" alt="poisson">
                            <div class="card-body">
                                <h5 class="card-title">Poisson</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/pondu.jpg" class="card-img-top rounded-top-5" alt="pondu">
                            <div class="card-body">
                                <h5 class="card-title">Pondu</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/poulet_mayo.jpg" class="card-img-top rounded-top-5" alt="poulet_mayo">
                            <div class="card-body">
                                <h5 class="card-title">Poulet-Mayo</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/salade.webp" class="card-img-top rounded-top-5" alt="salade">
                            <div class="card-body">
                                <h5 class="card-title">Salade</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/saussice.webp" class="card-img-top rounded-top-5" alt="saussice">
                            <div class="card-body">
                                <h5 class="card-title">Saussice</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="card border border-dark rounded-5">
                            <img src="../src/shawarma.avif" class="card-img-top rounded-top-5" alt="shawarma">
                            <div class="card-body">
                                <h5 class="card-title">Shawarma</h5>
                                <p class="card-text">text.</p>
                                <a href="#" class="btn btn-primary">Commander</a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>


    </div>

</div>





        </div>

        




    </div>
 
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>